@{
    ViewData["Title"] = "Geovani feelings";
}

<div class="text-center">
    <h1 class="display-4">Não quero mais</h1>
    <p>Learn about <a href="sem link sem like">building Web apps with ASP.NET Core</a>.</p>
</div>
